*, *:after, *:before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 40px;
  font-size: 16px;
  line-height: 1.4;
  background-color: white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input {
  padding: 2px;
}

@import '../src/style';
